<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>



<h1>The total number of campaign  = <a th:text="${totalcampaign}"></a> </h1>

<h1>The number of active Campaign = <a href="#" th:text="${activecampaign}"></a> </h1>
<h1>The number of pending Campaign = <a href="#" th:text="${pendingcampaign}"></a> </h1>


<h1>The number of On-hold campaign =  <a href="#" th:text="${onholdcampaign}"></a></h1>


<div th:replace="common/header :: body-bottom-scripts"> </div>


</body>
</html>